.body{
    background-color: #000000;
    display: flex;
    flex-direction: row;
    
}
.intro-container{
    display: flex;

}
.profile-show-container{
    flex : 1
}
.content-container{
    margin-left: -18vw;
    margin-top: 3vh;
    flex : 2;
}
.hello-there{
    margin-top: 50px;
    color: #FFFFFF;
    font-size: 3vh;
    text-align: center;
    font-family: "Space Grotesk";
    margin-bottom: -4vh;
    
}
.im-joel{
    color: #FFFFFF;
    font-size: 7vh;
    text-align: center;
    font-family: "Space Grotesk";
}
.profile-pic{
    border-radius: 50px;
    width: 20vh;
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.profile-pic-desc{
    color: #FFFFFF;
    font-size: 1.4vh;
    text-align: center;
    font-family: "Space Grotesk";
    margin-bottom: -2vh;
}
.profile-pic-desc-l-1{
    color: #FFFFFF;
    font-size: 1.4vh;
    text-align: center;
    margin-bottom: -1.9vh;
    font-family: "Space Grotesk";
}
.profile-pic-desc-l-last{
    color: #f70707;
    font-size: 1.4vh;
    text-align: center;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: -1.9vh;
    font-family: "Space Grotesk";
}

@media (max-width: 767px) {
    .intro-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content-container{
        margin-left: 0;
        margin-top: 0;
        flex: 1;
    }
    .body{
        display: block;
    }
    .profile-pic-desc{
        font-size: 1.4vh;
        margin-bottom: -1.5vh;
    }
    .profile-pic-desc-l-1{
        font-size: 1.4vh;
        margin-bottom: -1.5vh;
    } 
    .profile-pic-desc-l-last{
            font-size: 1.4vh;
        margin-top: 10px;
        margin-left: 90px;
    }
}

.decription{
    color: #FFFFFF;
    font-size: 2vh;
    text-align: center;
    font-family: "Space Grotesk";
    margin-top: 30px;
    margin-bottom: -1.9vh;
    margin-left: 2.7vw;
    align-self: top;
    text-align: start;
}
.decription-1{
    color: #FFFFFF;
    font-size: 2vh;
    text-align: center;
    font-family: "Space Grotesk";
    margin-top: 30px;
    margin-bottom: -1.9vh;
    align-self: top;
    text-align: start;
}

.media-btn{
    height: 4vh;
    width: 4vw;
    border-radius: 10px;
    background-color: #f70707;
    font-family: "Space Grotesk";


}

.connect-w-me {
  color: #58f795f1;
  font-size:6vh;
  text-align: center;
  font-family: "Space Grotesk";
}

.button-links-connect-container{
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
}


.connect-with-me-btn-insta{
    display: flex;
    flex-direction: row;
    background-color:rgba(255, 0, 191, 0.932);
    border: none;
    font-family: "Space Grotesk";
    font-size: 3vh;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border-radius: 20px;
    width:max-content
}
.connect-with-me-btn-insta-text{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2vw;
    margin-right: 2vw;
    font-family: "Space Grotesk";

}

.connect-with-me-btn-insta-svg{
    background-color:rgba(255, 0, 191, 0.932);
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;

    border-radius: 20px;
    width: 12vw;
}
@media (min-width: 768px) and (max-width: 1440px) {
    
  .hello-there{
    text-align: left;
    margin-left: 3.5vw;
  }
  .im-joel{
    text-align: left;
    margin-left: 3.5vw;
  }
  .profile-pic{
    margin-left: 2.7vw ;
    width: 30vh;
    height: 40vh;
        margin-bottom: 4vh;

  }
  .profile-pic-desc{
        text-align: left;
            font-size: 2vh;

    margin-left: 2.7vw;
  }
  .profile-pic-desc-l-1{  
        text-align: left;
                    font-size: 2vh;

  margin-left: 2.7vw;
}
  .profile-pic-desc-l-last{
        text-align: left;
                    font-size: 2vh;

    margin-left: 11vw;
}
.decription{
    text-align: left;
    font-size: 4vh;
    margin-left: 2.7vw;
  }
  .decription-1{
    text-align: left;
    font-size: 4vh;
  }

}
@media (min-width: 1500px)  {
    .content-container{
        margin-left: -8vw;
        
    }
    

}

@media (max-width: 480px) {
  .body{
    /* background-color: #FFFFFF; */
  }
}
